accelerate
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asyncpg
attrs
beautifulsoup4
Brotli
certifi
charset-normalizer
click
colorama
contourpy
customtkinter
cycler
dacite
darkdetect
Deprecated
deprecation
diffusers
et_xmlfile
filelock
fonttools
frozenlist
fsspec
gradio_client
h11
h2
hpack
httpcore
httpx
huggingface-hub
hyperframe
idna
importlib_metadata
jaconv
Jinja2
kiwisolver
markdown-it-py
MarkupSafe
matplotlib==3.10.1
mcp
mdurl
mpmath
multidict
mutagen
networkx
numpy==2.2.0
openpyxl
orjson
packaging
pandas
Pillow
postgrest
propcache
psutil
pycryptodomex
pydantic
pydantic-settings
pydantic_core
pydub
PyGetWindow
Pygments
pykakasi
PyMsgBox
pyparsing
pyperclip
PyRect
PyScreeze
python-dateutil
python-dotenv
python-multipart
python-slugify
pytube
pytweening
pytz
PyYAML
RapidFuzz
realtime
redis
regex
requests
rich
ruff
safehttpx
safetensors
semantic-version
setuptools
shellingham
six
sniffio
soundcloud-v2
soupsieve
spotdl
spotipy
sse-starlette
starlette
storage3
StrEnum
supabase
supabase-mcp-server
supafunc
sympy
syncedlyrics
tenacity
text-unidecode
tokenizers
tomlkit
torch
torchaudio
torchvision
tqdm
transformers
typer
typing_extensions
tzdata
Unidecode
urllib3
uvicorn
websockets
wrapt
yarl
yt-dlp
ytmusicapi
zipp
kivy[full]==2.3.0
kivymd
